---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const buttonClass = (buttonTag: string) : string => {
	const classBtn = 'ml-1 btn btn-primary '
	let finalClass: string = classBtn

	switch (buttonTag){
			case 'C#':
				finalClass += 'c-sharp'
				break
			case 'Java':
				finalClass += 'java'
				break
			case 'JavaScript':
				finalClass += 'javascript'
				break
			case 'Angular':
				finalClass += 'angular'
				break
			case 'Astro':
				finalClass += 'astro'
				break
		}

	return finalClass
};
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			.description{
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}

			/* CSS Personalizados de Bootstrap */

			.c-sharp {
				background-color: mediumpurple;
				border-color: mediumpurple;
			}

			.c-sharp:not(:disabled):not(.disable):active{
				background-color: mediumpurple;
				border-color: mediumpurple;
			}

			.java {
				background-color: orangered;
				border-color: orangered;
			}

			.java:not(:disabled):not(.disable):active{
				background-color: orangered;
				border-color: orangered;
			}

			.javascript {
				background-color: orange;
				border-color: orange;
			}

			.javascript:not(:disabled):not(.disable):active{
				background-color: orange;
				border-color: orange;
			}

			.angular {
				background-color: crimson;
				border-color: crimson;
			}

			.angular:not(:disabled):not(.disable):active{
				background-color: crimson;
				border-color: crimson;
			}

			.astro {
				background-color: darkviolet;
				border-color: darkviolet;
			}

			.astro:not(:disabled):not(.disable):active{
				background-color: darkviolet;
				border-color: darkviolet;
			}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post, index) => (
							<li>
								<h2>{index === posts.length - 1 ? "Última publicación" : ""}</h2>
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
									<h4 class="title">{post.data.title}</h4>
									<h6 class="description">{post.data.description}</h6>
									{
										post.data.postTags?.map((tec) => {
											return <button class={buttonClass(tec)}>{tec}</button>
										})
									}
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						)).reverse()
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>